USE [EnergyConsumption]
GO
/****** Object:  Table [dbo].[WaterConsumption]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaterConsumption](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[Water] [int] NULL,
	[WaterCost] [money] NULL,
 CONSTRAINT [PK_WaterUsage] PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GasConsumption]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GasConsumption](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[Gas] [int] NULL,
	[GasCost] [money] NULL,
 CONSTRAINT [PK_GasUsage] PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElectricityConsumption]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElectricityConsumption](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[Electricity] [int] NULL,
	[ElectricityCost] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceExpenses]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceExpenses](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[FlatID] [int] NOT NULL,
	[ElectricityUsageID] [int] NOT NULL,
	[WaterUsageID] [int] NOT NULL,
	[HeatingUsageID] [int] NOT NULL,
	[GasUsageID] [int] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildingRegistry]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingRegistry](
	[HouseID] [nchar](20) NOT NULL,
	[Year] [int] NOT NULL,
	[Material] [nchar](15) NOT NULL,
	[Floors] [int] NOT NULL,
	[Elevator] [bit] NOT NULL,
	[Flats] [int] NOT NULL,
	[HeatingSystemID] [int] NOT NULL,
	[EnergyRating] [int] NOT NULL,
 CONSTRAINT [PK_Buildings] PRIMARY KEY CLUSTERED 
(
	[HouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlatRegistry]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlatRegistry](
	[FlatID] [int] IDENTITY(101,1) NOT NULL,
	[HouseID] [nchar](20) NOT NULL,
	[Floor] [int] NOT NULL,
	[Rooms] [int] NOT NULL,
	[Area] [int] NOT NULL,
	[Residents] [int] NULL,
 CONSTRAINT [PK_Flats] PRIMARY KEY CLUSTERED 
(
	[FlatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeatingEquipment]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeatingEquipment](
	[HeatingSystemID] [int] NOT NULL,
	[Type] [nchar](30) NOT NULL,
 CONSTRAINT [PK_HeatingSystems] PRIMARY KEY CLUSTERED 
(
	[HeatingSystemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeatingConsumption]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeatingConsumption](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[Heating] [decimal](15, 3) NULL,
	[HeatingCost] [money] NULL,
 CONSTRAINT [PK_HeatingUsage] PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FlatsTotalCostView]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FlatsTotalCostView] AS  
SELECT 
    FlatRegistry.FlatID, 
    FlatRegistry.Rooms, 
    FlatRegistry.Area, 
    FlatRegistry.Residents, 
    ElectricityConsumption.Electricity, 
    ElectricityConsumption.ElectricityCost,  
    WaterConsumption.Water, 
    WaterConsumption.WaterCost,  
    GasConsumption.Gas, 
    GasConsumption.GasCost,  
    HeatingConsumption.Heating, 
    HeatingConsumption.HeatingCost,  
    SUM(ElectricityConsumption.ElectricityCost + WaterConsumption.WaterCost + GasConsumption.GasCost + HeatingConsumption.HeatingCost) AS TotalCost,  
    HeatingEquipment.Type AS HeatingSystemType  
FROM FlatRegistry  -- Заменили Flats на FlatRegistry
INNER JOIN ResourceExpenses ON FlatRegistry.FlatID = ResourceExpenses.FlatID  
LEFT JOIN ElectricityConsumption ON ResourceExpenses.ElectricityUsageID = ElectricityConsumption.UsageID  
LEFT JOIN WaterConsumption ON ResourceExpenses.WaterUsageID = WaterConsumption.UsageID  
LEFT JOIN GasConsumption ON ResourceExpenses.GasUsageID = GasConsumption.UsageID  
LEFT JOIN HeatingConsumption ON ResourceExpenses.HeatingUsageID = HeatingConsumption.UsageID  
LEFT JOIN BuildingRegistry ON FlatRegistry.HouseID = BuildingRegistry.HouseID  
LEFT JOIN HeatingEquipment ON BuildingRegistry.HeatingSystemID = HeatingEquipment.HeatingSystemID  
GROUP BY 
    FlatRegistry.FlatID, 
    FlatRegistry.Rooms, 
    FlatRegistry.Area, 
    FlatRegistry.Residents, 
    ElectricityConsumption.Electricity, 
    ElectricityConsumption.ElectricityCost, 
    WaterConsumption.Water, 
    WaterConsumption.WaterCost, 
    GasConsumption.Gas, 
    GasConsumption.GasCost, 
    HeatingConsumption.Heating, 
    HeatingConsumption.HeatingCost, 
    BuildingRegistry.HouseID, 
    HeatingEquipment.Type;












    





GO
/****** Object:  View [dbo].[CentralHeatingFlatsView]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CentralHeatingFlatsView] AS
SELECT 
    Flats.FlatID, 
    Flats.Rooms, 
    Flats.Area, 
    Flats.Residents,
    Buildings.HouseID, 
    HeatingSystems.Type AS HeatingSystemType
FROM Flats
LEFT JOIN Buildings ON Flats.HouseID = Buildings.HouseID
LEFT JOIN HeatingSystems ON Buildings.HeatingSystemID = HeatingSystems.HeatingSystemID
WHERE HeatingSystems.Type LIKE '%Центральне%'
GROUP BY Flats.FlatID, Flats.Rooms, Flats.Area, Flats.Residents, Buildings.HouseID, HeatingSystems.Type;
GO
/****** Object:  Table [dbo].[LocationAddresses]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationAddresses](
	[HouseID] [nchar](20) NOT NULL,
	[Address] [nchar](60) NOT NULL,
	[District] [nchar](15) NOT NULL,
	[Land] [int] NOT NULL,
 CONSTRAINT [PK_Addresses1] PRIMARY KEY CLUSTERED 
(
	[HouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BuildingRegistry]  WITH CHECK ADD  CONSTRAINT [FK_Buildings_HeatingSystems] FOREIGN KEY([HeatingSystemID])
REFERENCES [dbo].[HeatingEquipment] ([HeatingSystemID])
GO
ALTER TABLE [dbo].[BuildingRegistry] CHECK CONSTRAINT [FK_Buildings_HeatingSystems]
GO
ALTER TABLE [dbo].[FlatRegistry]  WITH CHECK ADD  CONSTRAINT [FK_Flats_Buildings] FOREIGN KEY([HouseID])
REFERENCES [dbo].[BuildingRegistry] ([HouseID])
GO
ALTER TABLE [dbo].[FlatRegistry] CHECK CONSTRAINT [FK_Flats_Buildings]
GO
ALTER TABLE [dbo].[ResourceExpenses]  WITH NOCHECK ADD  CONSTRAINT [FK_Expenses_ElectricityUsage] FOREIGN KEY([ElectricityUsageID])
REFERENCES [dbo].[ElectricityConsumption] ([UsageID])
GO
ALTER TABLE [dbo].[ResourceExpenses] CHECK CONSTRAINT [FK_Expenses_ElectricityUsage]
GO
ALTER TABLE [dbo].[ResourceExpenses]  WITH NOCHECK ADD  CONSTRAINT [FK_Expenses_Flats] FOREIGN KEY([FlatID])
REFERENCES [dbo].[FlatRegistry] ([FlatID])
GO
ALTER TABLE [dbo].[ResourceExpenses] CHECK CONSTRAINT [FK_Expenses_Flats]
GO
ALTER TABLE [dbo].[ResourceExpenses]  WITH NOCHECK ADD  CONSTRAINT [FK_Expenses_GasUsage] FOREIGN KEY([GasUsageID])
REFERENCES [dbo].[GasConsumption] ([UsageID])
GO
ALTER TABLE [dbo].[ResourceExpenses] CHECK CONSTRAINT [FK_Expenses_GasUsage]
GO
ALTER TABLE [dbo].[ResourceExpenses]  WITH NOCHECK ADD  CONSTRAINT [FK_Expenses_HeatingUsage] FOREIGN KEY([HeatingUsageID])
REFERENCES [dbo].[HeatingConsumption] ([UsageID])
GO
ALTER TABLE [dbo].[ResourceExpenses] CHECK CONSTRAINT [FK_Expenses_HeatingUsage]
GO
ALTER TABLE [dbo].[ResourceExpenses]  WITH NOCHECK ADD  CONSTRAINT [FK_Expenses_WaterUsage] FOREIGN KEY([WaterUsageID])
REFERENCES [dbo].[WaterConsumption] ([UsageID])
GO
ALTER TABLE [dbo].[ResourceExpenses] CHECK CONSTRAINT [FK_Expenses_WaterUsage]
GO
/****** Object:  StoredProcedure [dbo].[searchFlat]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[searchFlat]  
@search_Flat VARCHAR(10)  
AS  
BEGIN
    SELECT 
        FlatRegistry.FlatID,
    FlatRegistry.HouseID,
    FlatRegistry.Floor,
        FlatRegistry.Rooms, 
        FlatRegistry.Area, 
        FlatRegistry.Residents, 
        ElectricityConsumption.Electricity, 
        ElectricityConsumption.ElectricityCost,  
        WaterConsumption.Water, 
        WaterConsumption.WaterCost,  
        GasConsumption.Gas, 
        GasConsumption.GasCost,  
        HeatingConsumption.Heating, 
        HeatingConsumption.HeatingCost,
    HeatingEquipment.Type AS HeatingSystemType,
        SUM(ElectricityConsumption.ElectricityCost + WaterConsumption.WaterCost + GasConsumption.GasCost + HeatingConsumption.HeatingCost) AS TotalCost  
  FROM FlatRegistry  
    INNER JOIN ResourceExpenses ON FlatRegistry.FlatID = ResourceExpenses.FlatID  
    LEFT JOIN ElectricityConsumption ON ResourceExpenses.ElectricityUsageID = ElectricityConsumption.UsageID  
    LEFT JOIN WaterConsumption ON ResourceExpenses.WaterUsageID = WaterConsumption.UsageID  
    LEFT JOIN GasConsumption ON ResourceExpenses.GasUsageID = GasConsumption.UsageID  
    LEFT JOIN HeatingConsumption ON ResourceExpenses.HeatingUsageID = HeatingConsumption.UsageID  
    LEFT JOIN BuildingRegistry ON FlatRegistry.HouseID = BuildingRegistry.HouseID  
    LEFT JOIN HeatingEquipment ON BuildingRegistry.HeatingSystemID = HeatingEquipment.HeatingSystemID  
    WHERE FlatRegistry.FlatID = CONVERT(INT, @search_Flat)  
    GROUP BY 
        FlatRegistry.FlatID,
    FlatRegistry.HouseID,
    FlatRegistry.Floor,
        FlatRegistry.Rooms, 
        FlatRegistry.Area, 
        FlatRegistry.Residents, 
        ElectricityConsumption.Electricity, 
        ElectricityConsumption.ElectricityCost, 
        WaterConsumption.Water, 
        WaterConsumption.WaterCost, 
        GasConsumption.Gas, 
        GasConsumption.GasCost, 
        HeatingConsumption.Heating, 
        HeatingConsumption.HeatingCost,  
        HeatingEquipment.Type;
END;
GO
/****** Object:  StoredProcedure [dbo].[takeFlatID]    Script Date: 12.12.2024 3:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[takeFlatID]
@Flat varchar(10)
as
select FlatID
from FlatRegistry
where FlatID like '%'+@Flat+'%'
GO
